body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  height: 160px;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  text-transform: capitalize;
  color: rgb(105, 105, 40);
}